.header {
  position: relative;
}
.header .logo {
  position: absolute;
  top: 10px;
  left: 35px;
  width: 70px;
  height: 70px;
}
.header .menu {
  display: flex;
  /* justify-content: space-between;    for when img in to the navbar */
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 30px 0px 30px;
  height: 60px;
  /* background-color: #24252a; */
  /* background-image: url(../images/Place\ Your\ Image\ Here\ \(Double\ Click\ to\ Edit\)1.jpg); */
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.8995973389) 25%, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header img {
  display: flex;
  margin: 0;
  width: 100%;
  height: 400px;
  padding: 0px, 0px, 0px, 0px;
}
.header .top_menu {
  display: flex;
  flex-direction: row;
}
.header .top_menu a {
  font-weight: 500;
  color: #f6eedf;
  text-decoration: none;
  font-size: 1.2rem;
}
.header .top_menu li {
  padding: 0px 10px;
}
.header .discription {
  position: absolute;
  flex-direction: column;
  top: 100px;
  align-content: center;
  color: #fff;
}
.header .discription h1 {
  padding: 1px 1px 20px 35px;
  font-size: 3.5vw;
  left: 10px;
}
.header .discription p {
  width: 45vw;
  padding: 1px 1px 20px 35px;
  font-size: 1.2rem;
}
.header .button {
  background-color: #f64b3c;
  margin: 1px 1px 20px 35px;
  padding: 7px 25px;
  cursor: pointer;
  border-radius: 25px;
}

.customers {
  background-color: #f6eedf;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 5px;
}
.customers h1 {
  font-size: 2rem;
  color: #f64b3c;
  font-weight: 200;
  margin: 30px auto 10px auto;
}
.customers p {
  font-size: 1.1rem;
  color: #f64b3c;
  width: 500px;
  text-align: center;
}

#img-background-1 {
  position: absolute;
  top: 16%;
  right: 7%;
  width: 100px;
  height: 113px;
}

#img-background-2 {
  position: absolute;
  bottom: 2%;
  right: 25%;
  scale: 50%;
}

#img-background-3 {
  position: absolute;
  bottom: 30%;
  right: 0;
  scale: 50%;
}

#img-background-4 {
  position: absolute;
  bottom: 2%;
  left: 25%;
  scale: 50%;
}

#img-background-5 {
  position: absolute;
  bottom: 50%;
  left: 0;
  scale: 50%;
}

#img-background-6 {
  position: absolute;
  top: 10%;
  left: 10%;
  scale: 50%;
}

.creators {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 30px auto;
}
.creators img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.creators h2 {
  font-size: 2rem;
  color: #f64b3c;
  font-weight: 200;
  margin: 30px auto 10px auto;
}
.creators span {
  font-weight: 200;
  margin: 30px auto 10px auto;
  font-size: 1.1rem;
  color: #f64b3c;
  width: 500px;
  text-align: center;
}

.customers2 {
  background-color: #f64b3c;
  position: relative;
  height: 500px;
  padding: 100px 0px 100px 0px;
}

.best-berger-all {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 30px 0px 30px 0px;
}
.best-berger-all img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
.best-berger-all span {
  color: #edf0f1;
  font-size: 1.2rem;
}
.best-berger-all h2 {
  color: #edf0f1;
  font-size: 2rem;
  margin-bottom: 20px;
}
.best-berger-all .best-berger-text {
  width: 45%;
  line-height: 2;
}
.best-berger-all .best-berger-text button {
  background-color: #ffffff;
  margin: 30px 1px 0px 0px;
  padding: 5px 30px;
  border-radius: 25px;
  color: #f64b3c;
  cursor: pointer;
}

.customers3 {
  background-color: #f6eedf;
  position: relative;
  height: 500px;
  padding: 100px 0px 100px 0px;
}

.big-berger-all {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 30px 0px 30px 0px;
}
.big-berger-all img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}
.big-berger-all h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #f64b3c;
}
.big-berger-all span {
  font-size: 1.2rem;
  color: #f64b3c;
}
.big-berger-all .big-berger-text {
  width: 45%;
  line-height: 2;
}
.big-berger-all .big-berger-text button {
  background-color: #f64b3c;
  margin: 30px 1px 0px 0px;
  padding: 5px 30px;
  border-radius: 25px;
  color: #f6eedf;
  cursor: pointer;
}

.statistics {
  color: #fff;
  background-color: #f64b3c;
  text-align: center;
  padding-bottom: 5%;
}
.statistics h3 {
  font-size: 2rem;
  padding-top: 3%;
  padding-bottom: 1%;
}
.statistics p {
  padding: 0 35% 2% 35%;
}
.statistics span {
  display: block;
  font-weight: 900;
  font-size: 3rem;
}
.statistics .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  padding: 10px;
}
.statistics .grid-container > div {
  text-align: center;
  padding: 50px 50px;
  border: #fff solid 3px;
  border-radius: 50%;
  text-transform: uppercase;
}

.popular-package {
  background-color: #f6eedf;
  text-align: center;
  padding-bottom: 6%;
}
.popular-package h3 {
  text-transform: capitalize;
  color: #f64b3c;
  font-weight: 900;
  font-size: 3rem;
}
.popular-package .grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  padding: 20px;
}
.popular-package .grid-container > div {
  background-color: #ffffff;
  text-align: center;
  padding: 5% 25%;
}
.popular-package .popular-package-span {
  text-transform: uppercase;
  color: #f64b3c;
  font-weight: 900;
  font-size: 1rem;
  display: block;
}
.popular-package .icon-berger-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10% 0 10% 0;
}
.popular-package .card-price {
  color: #f64b3c;
  display: block;
  font-weight: 900;
}
.popular-package .card-p {
  color: #f64b3c;
}
.popular-package .order-card {
  background-color: #f64b3c; /* Green */
  border-radius: 50px;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.barry-henderson {
  position: relative;
  text-align: center;
  background-image: linear-gradient(rgba(246, 75, 60, 0.8), rgba(255, 0, 0, 0.8)), url("../images/barryhenderson.png");
  background-position: center;
  color: #ffffff;
  padding-bottom: 40%;
}
.barry-henderson > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.barry-henderson > h3 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  text-transform: capitalize;
}

.our-update {
  color: #f64b3c;
  text-align: center;
  padding: 10% 15%;
  background-color: #f6eedf;
}
.our-update > h3 {
  font-weight: 900;
  font-size: 5rem;
}
.our-update > p {
  padding: 0% 20%;
}
.our-update .search {
  margin-top: 3%;
  padding: 0% 20%;
  position: relative;
  display: flex;
}
.our-update .searchTerm {
  text-align: left;
  width: 100%;
  padding: 2%;
  border-radius: 50px 0 0 50px;
  outline: none;
  color: #c1ae9f;
  background-color: #ffffff;
}
.our-update .searchTerm:focus {
  color: #f64b3c;
}
.our-update .searchButton {
  background: #f64b3c;
  text-align: center;
  color: #f6eedf;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-size: 20px;
  padding: 2%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-areas: "box1 box1 box2 box3 box4";
  padding-top: 90px;
  background-color: #222222;
  height: 450px;
  color: #fff;
}
.footer .box1 {
  grid-area: box1;
}
.footer .box2 {
  grid-area: box2;
}
.footer .box3 {
  grid-area: box3;
}
.footer .box4 {
  grid-area: box4;
}
.footer .box1 {
  grid-area: box1;
}
.footer .paragraph {
  padding-left: 20px;
  margin-left: 10px;
}
.footer .paragraph p {
  padding-bottom: 15px;
  cursor: pointer;
}
.footer .paragraph h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.footer .paragraph-sh {
  padding-left: 40px;
}
.footer .paragraph-sh h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}
.footer .paragraph-sh p {
  width: 80%;
  line-height: 1.5;
  padding-bottom: 15px;
}
.footer .paragraph-sh ul i {
  cursor: pointer;
  font-size: 22px;
  padding: 6px 6px;
  margin: 2px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 100%;
  width: 32px;
  height: 32px;
}

/*# sourceMappingURL=Style.css.map */
