.customers {
  background-color: $base-color;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 5px;
  h1 {
    font-size: 2rem;
    color: $red;
    font-weight: 200;
    margin: 30px auto 10px auto;
  }
  p {
    font-size: 1.1rem;
    color: $red;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .img-icon-background {
    display: none;
  }
}

#img-background-1 {
  @include position("top", "right", 2%, 3%, 50%,50%);
}
#img-background-2 {
  @include position("bottom", "right", 2%, 25%, 50%,50%);
}
#img-background-3 {
  @include position("bottom", "right", 30%, 0, 50%,50%);
}
#img-background-4 {
  @include position("bottom", "left", 2%, 25%, 50%,50%);
}
#img-background-5 {
  @include position("bottom", "left", 50%, 0, 50%,50%);
}
#img-background-6 {
  @include position("top", "left", 10%, 10%, 50%,50%);
}

.creators {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: 30px auto;

  img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  h2 {
    font-size: 2rem;
    color: $red;
    font-weight: 200;
    margin: 30px auto 10px auto;
  }

  span {
    font-weight: 200;
    margin: 30px auto 10px auto;
    font-size: 1.1rem;
    color: $red;
    width: 500px;
    text-align: center;
  }
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 30px auto;
  }
}
