.popular-package {
  background-color: $base-color;
  text-align: center;
  padding-bottom: 6%;
  h3 {
    text-transform: capitalize;
    color: $red;
    font-weight: 900;
    font-size: 3rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    padding: 20px;
    > div {
      background-color: #ffffff;
      text-align: center;
      padding: 5% 25%;
    }
  }

  .popular-package-span {
    text-transform: uppercase;
    color: $red;
    font-weight: 900;
    font-size: 1rem;
    display: block;
  }
  .icon-berger-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10% 0 10% 0;
  }
  .card-price {
    color: $red;
    display: block;
    font-weight: 900;
  }
  .card-p {
    color: $red;
  }
  .order-card {
    background-color: $red; /* Green */
    border-radius: 50px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    text-transform: uppercase;
  }
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: auto;
      gap: 10px;
    }
  }
}
