.barry-henderson {
  position: relative;
  text-align: center;
  //   background-color: rgba(246, 75, 60, 0.5);
  background-image: linear-gradient(
      rgba(246, 75, 60, 0.8),
      rgba(255, 0, 0, 0.8)
    ),
    url("../images/barryhenderson.png");
  background-position: center;
  color: #ffffff;
  padding-bottom: 40%;

  > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  > h3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-transform: capitalize;
  }
}

