.statistics {
  color: #fff;
  background-color: $red;
  text-align: center;
  padding-bottom: 5%;

  h3 {
    font-size: 2rem;
    padding-top: 3%;
    padding-bottom: 1%;
  }

  p {
    padding: 0 35% 2% 35%;
  }
  span {
    display: block;
    font-weight: 900;
    font-size: 3rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding: 10px;

    > div {
      text-align: center;
      padding: 50px 50px;
      border: #fff solid 3px;
      border-radius: 50%;
      text-transform: uppercase;
    }
  }
  @media (max-width: 768px) {
    p {
      display: none;
    }
    .grid-container {
      display: grid;
      grid-template-columns: auto;
      padding: 10px;
      gap: 10px;
    }
  }
}
